:root {
  font-family:monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  background: url(/img/espejo.jpg);
  background-repeat: repeat;
  background-size:20%;
  display: grid;
 
}
body{
  min-height: 100vh;
}
@media only screen and (min-width: 768px){
  :root{font-size: 14px;}
  }
@media only screen and (min-width: 960px){
    :root{font-size:20}
  }
  #root {
    display: grid;
    justify-items: center;
      text-align: center;
      min-height:100vh ;
      position: relative;
      overflow: hidden;
    }
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
input:focus-visible{
  outline: none;
}
li{
  list-style: none;
}
ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0;
  padding: 0;
}
span{
  margin: 0;
}
a{
  display: flex;
  gap: 1em;
  text-decoration: none;
  &:visited{
    color:#5a5959;
  }
  &:active{
color:#de5e4f;
  }
}
#active{
  color:#de5e4f;
}